.modal-box {
  --bs-modal-width: 570px !important;
  --bs-modal-header-padding: 1rem 2rem !important;
}

.modal {
  --bs-modal-padding: 13px 32px;
}
.modal-title{
  font-size: 18px;
}

.modal-footer {
  padding: 15px 30px 15px 30px;
}

.form-label {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
}

.form-input {
  margin-bottom: 15px;
}

.input-group-append {
  position: absolute;
  right: 2px;
  top: 50%;
}

.input-group-text {
  background: white !important;
  border: none !important;
  padding: 8px 10px !important;
  color: #a3a3a3;
}

.form-control {
  border-radius: 6px !important;
  padding: 10px 10px !important;
}

.password-input-container {
  position: relative;
}

.password-toggle-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.error {
  font-size: 13px;
  font-weight: 400;
  color: red;
}

.form-check-input:checked {
  background-color: #5bb6ea;
  border-color: #5bb6ea;
}

.form-switch .form-check-input {
  width: 55px;
}
.modal-content {
  max-width: 570px;
  margin: auto;
}
.modal-body {
  padding: 12px 22px ;
}
.modal-title {
    color: #0000009e !important;
}
.mandatory-label::after {
  content: ' *' ; 
  color: red; 
}
