
/* Add the following CSS to your styles */
.modal-box {
  --bs-modal-width: 570px !important;
  --bs-modal-header-padding: 1rem 2rem !important;
}

.modal {
  --bs-modal-padding: 13px 32px;
}

.modal-footer {
  margin: -11px 25px 15px 0px;
  padding-top: 15px;
}

.form-label {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
}

.form-input {
  margin-bottom: 15px;
}

.input-group-append {
  position: absolute;
  right: 2px;
  top: 50%;
}

.input-group-text {
  background: white !important;
  border: none !important;
  padding: 8px 10px !important;
  color: #a3a3a3;
}

.form-control {
  border-radius: 6px !important;
  padding: 10px 10px !important;
}

.floating-label-group {
  position: relative;
  margin-bottom: 20px;
  height: 60px;
}

.floating-label-group label {
  position: absolute;
  top: 35%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  z-index: 0;
  padding: 0px 5px;
}

.floating-label-group input:focus + label,
.floating-label-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 0.8rem;
  color: #007bff !important;
  background-color: white;
}

.floating-label-group input:focus,
.floating-label-group input:not(:placeholder-shown) {
  border-color: #007bff;
  outline: none;
}

.floating-label-group input:not(:placeholder-shown) {
  border-color: #007bff;
}

.error-border {
  border-color: red !important;
}

.error {
  font-size: 13px;
  font-weight: 400;
  padding: 0px 11px;
  color: red;
}

.form-check-input:checked {
  background-color: #5bb6ea;
  border-color: #5bb6ea;
}

.form-switch .form-check-input {
  width: 55px;
}

.form-check-input {
  height: 25px;
}

/* Add the following to adjust the modal width */
.modal-content {
  max-width: 570px;
  margin: auto;
}

