.table > :not(caption) > * > * {
    padding: 0.5rem 1.5rem;
}

.goZmTm {
    padding: 4px 25px 4px 25px !important;
    margin: 16px 0px;
}
.eEletC {
    padding-left: 27px !important;
}
.table-top{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;

}
.left-div {
   display: flex;
   flex-wrap: wrap;
   width: 55%;
   justify-content: space-between;
}
.ciEzoQ {
    padding: 4px 24px 4px 24px !important;
    margin: 16px 0px 8px 0px; 
}
.cxFtRn {
    min-height: 0px !important;
}
.btn-1{
    background-color: transparent !important;
    color: #3eba43a6;
    border: none;

}

.btn-2{
    background-color: transparent !important;
    color: #008eff85;
    border: none;
  
}
.btn-3{
    background-color: transparent !important;
    color: #ff000087;
    border: none;
   
    margin: 0.2rem; 
}
.btn-1:hover{
    color: #3eba43;
}
.btn-2:hover{
    color: #008eff;
}
.btn-3:hover{
    color: #f02222;
}

.table-div {
    border: 1px solid #e8e8e8;
    background-color: #ffff;
    border-radius: 20px;
}
.dFwCCu{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 25px !important;
}
.eEletC {
    padding-left: 27px !important;
}

.fNMiXs {
    font-weight: 600 !important;
    font-size: 18px !important;
    color: #0000009e !important;
}
.jmDgLz {
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.eEletC{
    border-bottom: 1px solid #e8e8e8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.cxFtRn {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.hdXyLr {
    max-height: 343px !important;
}
.jbrMhe {
    font-size: 18px;
    font-weight: 600 !important;
    color: #0000009e !important;
}
.fYjfGb {
     max-height: none !important ;
}
.form-control:focus {
    box-shadow: none !important;
}
.ftzeFU {
    font-size: 15px;
    font-weight: 700;
    color: #000000ab ;
}

.epvIND {
    background-color: #fafafa !important;
}


.MLcXO {
    border-radius: 0px !important;
    height: 30px !important;
    width: 30px !important;
    border: 1px solid #d9d9d9 !important;
    margin: 5px;
   padding: 0px !important;
}
.search-input-container {
    position: relative;
   
  }
  
  .search-icon {
    position: absolute;
        top: 40%;
        right: 11px;
    transform: translateY(-50%);
    color: #a2a2a2;
    cursor: pointer;
  }
  .count-div{
    border: 1px solid rgb(232, 232, 232) !important;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 500;
    color: rgb(0 0 0 / 42%);
  
}
.search-control{
    border: 1px solid rgb(232, 232, 232) !important;
    padding: 5px 16px;
    color: rgb(0 0 0 / 42%);
    outline: none;
    border-radius: 6px ;

 
  }

.capitalize-text{
text-transform: capitalize;
}
.follow-up-table-row {
    background-color: #e6f7ff; 
  }

.deleted-row {
    background-color: #ffcccc; 
  }
 
  .border-end{
    width: 320px;
    display: flex;
    margin-right: 0px;
  }
  .jgDMQx {
    padding: 0px 25px 0px 25px;
  }
  .table-light {
    --bs-table-color: #fff;
    --bs-table-bg: #003366;
    font-size: 15px;
  }
  .table > :not(caption) > * > * {
    font-size: 14px;
}
.fYjfGb {
    position: relative;
    width: 100%;
    border-radius: inherit;
    overflow-x: auto;
    overflow-y: auto;
}
.fYjfGb ::-webkit-scrollbar {
        width: 0.5em !important;
      }
      .table-top  .nav-btn  {
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: #9797a0;
        display: none;
        opacity: 0;
        padding: 0px;
      }
      .inner-div{
        display: flex;
      }
      @media only  screen  and (max-width: 920px){
        .table-top  .nav-btn{
            display: block;
            opacity: 1;
        }
        .right-div .nav-close-btn {
            position: absolute;
            top: 2rem;
            right: 2rem;
            background: white;
        }
    
        .right-div{
            position: absolute;
            top: -28px;
            right: -7px;
            transform: translateY(-100vh);
            padding: 9px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        .inner-div{
            display: flex;
            flex-direction: column;
            position: relative;
            box-shadow: 0px 0px 6px 3px rgb(0 0 0 / 7%);
            top: 55px;
            right: 20px;
            background-color: rgb(255, 255, 255);
            padding: 18px;
            z-index: 10;
        }
        .count-div{
            margin-right: 0px !important;
            margin-bottom: 10px;
        }
          
        .table-top .responsive_nav{
            transform: none;
        }
        
        .right-div .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 31px;
        }
    
    }
    
    