
.modal {
  --bs-modal-width: 2900px !important;
--bs-modal-header-padding: 1rem 2rem !important;
}
.view{
  display: flex;
  justify-content: space-between;
}
.view-label {
margin: 0;
color: #5bb6ea;
}

.view-data {
margin-bottom: 20px;
font-size: 17px;
color: #000000cc;
}
