/*tab.css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-modal {
    display: flex;
    align-items: stretch;
    height: 100%;
  }
 

  .modal-dialog {
    width: 50%; 
  }
  .modal-body {
    flex: 1;
    overflow-y: auto; 
  }
  .modal-header {
    border: none;
  }

.box {
    border: 2px solid grey;
    width: 100%; /* Set the width to 100% to match the modal width */
    margin: auto;
    margin-bottom: 30px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Set the width to 100% to match the modal width */
  }
  
  .tab {
    background: #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid grey;
    border-top: none;
    cursor: pointer;
    position: relative;
    width: calc(33.33% - 2px); /* Set the width of each tab to one-third of the modal width */
    box-sizing: border-box;
  }
  

.active-tab{
    border: none;
    background: #fff;
}

.contents{
    position: relative;
   

}
.content{
    display: none;
    position: relative;
  
}

.active-content{
    display: block;
    margin-left:10px;
    margin-right: 10px;
    transition: all 1s ease-in-out;
}
/* Equal height for all content */ 
.content {
    flex: 1;
}

.active-tab ::after{
 
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: initial;
    animation: new 0.5s;
}.radio-group {
  display: flex; 
  align-items: center; 
}

.radio-group .form-check {
  margin-right: 20px; 
}
.error {
  font-size: 14px;
}


.form-label {
  font-size: 14px; 
}

.radio-group label {
  font-size: 14px; 
}

/* Add this CSS to your Tab.css file or your component stylesheet */
.select-container {
  position: relative;
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the distance from the right side as needed */
  transform: translateY(-50%);
  pointer-events: none;
}
.view-exp-modal{
 background-color: #f5f5f5;
}
.follow-up-table-row {
  background-color: #f5f5f5 !important; 
}