/*.bloc-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tabs {
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    background-color: #eee;
    color: #333;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tabs:hover {
    background-color: #ddd;
}

.tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
    background: #5bb6ea;
    color: white;
}

.active-tabs::before {
    content: " ";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
}

button {
    border: none;
}

.content-tabs {
    flex-grow: 1;
}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.active-content {
    display: block;
}

/* Equal width for all tabs *
.tabs, .active-tabs {
    flex-basis: 0;
}

/* Equal height for all content *
.content {
    flex: 1;
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-modal {
    display: flex;
    align-items: stretch;
    height: 100%;
  }
 

  .modal-dialog {
    width: 50%; 
  }
  .modal-body {
    flex: 1;
    overflow-y: auto; 
  }
  .modal-header {
    border: none;
  }

.box {
    border: 2px solid grey;
    width: 100%; /* Set the width to 100% to match the modal width */
    margin: auto;
    margin-bottom: 30px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Set the width to 100% to match the modal width */
  }
  
  .tab {
    background: #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid grey;
    border-top: none;
    cursor: pointer;
    position: relative;
    width: calc(33.33% - 2px); /* Set the width of each tab to one-third of the modal width */
    box-sizing: border-box;
  }
  

.active-tab{
    border: none;
    background: #fff;
}

.contents{
    position: relative;
   

}
.content{
    display: none;
    position: relative;
  
}

.active-content{
    display: block;
    margin-left:10px;
    margin-right: 10px;
    transition: all 1s ease-in-out;
}
/* Equal height for all content */ 
.content {
    flex: 1;
}

.active-tab ::after{
 
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: initial;
    animation: new 0.5s;
}