.view-modal .first-row {
    /* border: 1px solid #c8cdd2; */
    /* margin: 15px 0px; */
    border-radius: 7px;
    padding-top: 10px;
}
.view-modal .first-row h5 {
    font-weight: 400;
    font-size: 17px;
    color: #03A9F4;
    margin-bottom: 12px;
}
.view-modal .modal-content {
    max-width: 800px !important;
}
.custom-disabled-input{
    background-color: white !important;
    margin-bottom: 14px;
}
.custom-disabled-input::-webkit-scrollbar {
    width: 0; 
}
