/* TopNavbar.css */

.navbar {
  background-color: #ffffff1a;
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 18px 0px;
  }
  .navbar a{
    font-weight: 100;
  }
  
  .navbar-brand, .nav-link {
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.2s; /* Add a smooth transition for text color changes */
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: rgb(194, 194, 194) !important; /* Change the text color on hover */
  }
  .lg-btn{
    background-color: #fffdfd;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: #002448;
    font-weight: 600;
  }
  .btn {
    /* background-color: rgb(71, 181, 255) !important; */
    border: none;
    border-radius: 20px;
  }
  
  .nav-link1 {
    font-size: 18px;
    font-weight: bold;
  }
  
  
  /* home.js */
  /* .home-Header{
    height: 100vh;
  } */
  
  .intro {
    position: relative;
    /* height: 60vh; */
    text-align: center;
    text-shadow: 1px 1px;
    color: #fff;
  }

  @media (max-width: 512px) {
    .intro {
      height: 55vh;
    }
  }
  
 .image-overlay {
    display: block;
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    background-color: #000;
    width: 100%;
    height: 100vh;
    top: 0;
  }
   
  .squares-wrapper {
    background: #4e54c8;
    background: linear-gradient(to left, #004aa9, #003366);
    width: 100%;
    height: 100vh;
   
  }
  
  .squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .squares li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  
  .quote {
    position: absolute;
    top: 50%;
    left: 49%;
   
    transform: translate(-50%, -50%);
    font-size: 200%;
    overflow: hidden;
    width: 100vw;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  .intro .quote h1{
    margin-top: 0;
   
   
  
  }
  
  .quote p{
    font-size: 20px !important;
   
  
  }
  
  @media (min-width: 768px) {
    .quote h1 {
      font-size: 3rem;
    }
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
  
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
  /* TopNavbar.css end */

/* footer start */

.section_padding{
    padding: 4rem 6rem;
     
}
.footer{
    background-color:#002448;
    margin-top: 100px;
}
.footer-content{
  text-align: center;
  color: white;
  margin: 30px 0px;
}
.footer-content p{
  color: #ffffffb0;
}
.sb_footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sb_footer_links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;

}
.sb_footer_links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
.sb_footer_links_div a{
    color: rgba(252, 252, 252, 0.333);
    text-decoration: none;
}
.socialmedia{
    display: flex;
    flex-direction: row;
}
.socialmedia img{
    width: 80%;
}
.sb_footer_links_div h4{
    font-size:19px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}
.sb_footer_links_div p{
    font-size: 15px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}
.sb_footer_below{
    display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 0.2rem;   
}
.sb_footer_below_links{
    display: flex;
    flex-direction: row;
}
.sb_footer_below_links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

hr{
    color: white !important;
    width: 100%;
}
.sb_footer_copyright p{
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;
}

@media(max-width:550px){
  .sb_footer_links div{
    margin: 1rem 0;
  }
  .sb_footer_below{
    flex-direction: column;
    justify-content: left;
  }
  .sb_footer_below_links{
    flex-direction: column;
  }
  .sb_footer_below_links p{
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

/* footer end */

/* about start */
.about{
  margin-top: 20px;
}
.about .img-div {
  background-image: url(../images/abt-img.png);
  height: 515px;
  background-position: center;
  background-size: cover;
} 
.about-title{
  font-size: 16px;
    font-weight: 700;
    color: #FF9800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 100px;
}
.about-title h2{
  font-size: 40px;
  color: #0b0b31;
  margin: 10px 0 0 0;
  font-weight: 700;
}
.abt-btn{
  background-color: #1983fb;
    outline: 4px solid #c1dbfe;
    border-radius: 5px;
    color: white;
    padding: 6px 14px;
    font-weight: 500;
    border: none;
}
/* about end */
/* service section start */

.service-title{
    font-size: 16px;
    font-weight: 700;
    color: #FF9800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.service-title h2{
font-size: 40px;
    color: #0b0b31;
    margin: 10px 0 0 0;
    font-weight: 700;
}
.service-card{
    position: relative;
    z-index: 1;
    display: block;
    padding: 35px 30px;
    text-align: left;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 30px;
    -webkit-box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    -moz-box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    will-change: transform;
}
.service-card p{
  height: 72px;
}
.service-card:hover{
    transform: translatey(10px);
}
.card{
    box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    border: none !important;
    margin-top: 40px;
}
/* service section end */

/* contact start */
.contact{
    margin-top: 100px;
}
.ctn_div{
    box-shadow: 2px 2px 36px -4px rgba(0,0,0,0.19);
}
.ctn-dlt{ 
  background-color: #1983fb;
    color: white;
    padding: 70px 70px;
}
.ctn-frm{
    padding: 60px 30px;
}
.frm-grp{
    margin-bottom: 30px;
}
.frm-cntrl{
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #0000006b;
    outline: none;
}
.frm-btn{
    display: flex;
    justify-content: end;
}
.ctn-btn{
  background-color: #1983fb;
  outline: 4px solid #c1dbfe;
  border-radius: 5px;
  color: white;
  padding: 6px 25px;
  margin-top: 45px;
  font-weight: 500;
  border: none;
}
/* contact end */